body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* admin page add component start */

.add-inputs {
  display: flex;
  justify-content: center;
}
.add-inputs form {
  display: flex;
  width: 320px;
  flex-direction: column;
}

.add-inputs form input {
  width: 100%;
}

/* admin page add component end */

/* main page start */

.main{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  width: 20%;
  /* border: 1px solid red; */
  padding-left: 20px;
}

.content{
  width: 80%;
}

.content-block {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(181, 181, 181);
}

/* main page end */

a {
  color:unset;
  text-decoration:none;
}

.Nav{
  background-color: gray !important;
}

.mainphoto{
  background-image:url("https://www.bagnet.org/storage/29/29/13/15/729_486_590c3772e572c.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.maintext{
  justify-content: center;
  text-align: center;
}

.admin-color{
  background-color: gray;
}

.cart1{
  background-image: url("https://www.bagnet.org/storage/29/29/13/15/729_486_590c3772e572c.jpg");
}

.pagin-block ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagin-block ul li {
  list-style:none;
  font-size: 20px;
  margin: 20px;
}

.pagin-block ul li:hover {
  list-style:none;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}